node_modules
/data/~$Formulir Asesment Demografi BACKUP 28022023.xlsx
/data/BIP RW 002 CISIIH.xlsx
/data/BIP RW 004 CIMANDIRI LAUT.xlsx
/data/BIP RW 006 PAMUGARAN.xlsx
/data/BIP RW 01 CISIIH.xlsx
/data/BIP RW 05 (Autosaved).xlsx
/data/BIP RW 07.xlsx
/data/BIP RW 09.xls
/data/BIP RW 8 SUKATANI.xlsx
/data/BIP_RW_8_SUKATANI_clean.csv
/data/cleaning.ipynb
/data/cleaning.py
/data/Formulir Asesment Demografi BACKUP 28022023.xlsx
/data/RW09_clean.csv
/data/
